# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=1.4.0=pypi_0
apscheduler=3.10.4=pypi_0
astor=0.8.1=pypi_0
backports-zoneinfo=0.2.1=pypi_0
ca-certificates=2023.7.22=hbcca054_0
certifi=2023.7.22=pyhd8ed1ab_0
charset-normalizer=3.2.0=pypi_0
click=8.1.7=pypi_0
cycler=0.11.0=pypi_0
cython=3.0.0=pypi_0
dnspython=2.3.0=pypi_0
editdistance=0.6.2=pypi_0
et-xmlfile=1.1.0=pypi_0
faiss=1.7.2=py37h2f3e4c9_0_cpu
flask=2.2.5=pypi_0
flask-cors=4.0.0=pypi_0
flask-httpauth=4.8.0=pypi_0
fonttools=4.38.0=pypi_0
future=0.18.3=pypi_0
fuzzyset=0.1.2=pypi_0
gast=0.5.4=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.57.0=pypi_0
gunicorn=21.2.0=pypi_0
h5py=2.10.0=pypi_0
hnswlib=0.7.0=pypi_0
idna=3.4=pypi_0
imageio=2.31.1=pypi_0
importlib-metadata=6.7.0=pypi_0
imutils=0.5.4=pypi_0
itsdangerous=2.1.2=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.3.2=pypi_0
keras=2.3.1=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
keras-resnet=0.2.0=pypi_0
keras-retinanet=0.5.1=pypi_0
kiwisolver=1.4.5=pypi_0
levenshtein=0.21.1=pypi_0
libblas=3.9.0=15_linux64_openblas
libcblas=3.9.0=15_linux64_openblas
libedit=3.1.20221030=h5eee18b_0
libfaiss=1.7.2=h5bb0626_0_cpu
libfaiss-avx2=1.7.2=h1234567_0_cpu
libffi=3.2.1=hf484d3e_1007
libgcc-ng=11.2.0=h1234567_1
libgfortran-ng=13.1.0=h69a702a_0
libgfortran5=13.1.0=h15d22d2_0
libgomp=11.2.0=h1234567_1
liblapack=3.9.0=15_linux64_openblas
libopenblas=0.3.20=pthreads_h78a6416_0
libstdcxx-ng=11.2.0=h1234567_1
lmdb=1.4.1=pypi_0
markdown=3.4.4=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.5.3=pypi_0
mrz=0.6.2=pypi_0
mxnet=1.9.1=pypi_0
ncurses=6.4=h6a678d5_0
networkx=2.6.3=pypi_0
nltk=3.8.1=pypi_0
numpy=1.19.3=pypi_0
opencv-python=4.8.0.76=pypi_0
openpyxl=3.1.2=pypi_0
openssl=1.0.2u=h516909a_0
packaging=23.1=pypi_0
pdf2image=1.16.3=pypi_0
pillow=9.5.0=pypi_0
pip=22.3.1=py37h06a4308_0
progressbar2=4.2.0=pypi_0
protobuf=3.20.0=pypi_0
pymongo=4.5.0=pypi_0
pyparsing=3.1.1=pypi_0
pypdf2=3.0.1=pypi_0
python=3.7.0=h6e4f718_3
python-dateutil=2.8.2=pypi_0
python-graphviz=0.8.4=pypi_0
python-levenshtein=0.21.1=pypi_0
python-utils=3.5.2=pypi_0
python_abi=3.7=2_cp37m
pytz=2023.3=pypi_0
pywavelets=1.3.0=pypi_0
pyyaml=6.0.1=pypi_0
rapidfuzz=3.2.0=pypi_0
readline=7.0=h7b6447c_5
regex=2023.8.8=pypi_0
requests=2.31.0=pypi_0
scikit-image=0.19.3=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.7.3=pypi_0
setuptools=65.6.3=py37h06a4308_0
six=1.16.0=pypi_0
sqlite=3.33.0=h62c20be_0
tensorboard=1.14.0=pypi_0
tensorflow=1.14.0=pypi_0
tensorflow-estimator=1.14.0=pypi_0
termcolor=2.3.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tifffile=2021.11.2=pypi_0
tk=8.6.12=h1ccaba5_0
torch=1.5.0=pypi_0
torchvision=0.6.0=pypi_0
tqdm=4.66.1=pypi_0
typing-extensions=4.7.1=pypi_0
tzlocal=5.0.1=pypi_0
unidecode=1.3.6=pypi_0
urllib3=1.26.6=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.38.4=py37h06a4308_0
wrapt=1.15.0=pypi_0
xz=5.4.2=h5eee18b_0
zipp=3.15.0=pypi_0
zlib=1.2.13=h5eee18b_0
